@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&family=Alumni+Sans:wght@500;900&display=swap');

*{
    display: inline-block;
    font-family: 'Alumni Sans', sans-serif;
    
}
body{
    background: rgb(131, 130, 130);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.intro_container{
    padding: 50px 10px;
    height: 600px;
    width: 800px;
    background-image: url(./img/croquis_0001.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}
.intro_titulos{
    display: flex;
    align-items: baseline;
    justify-content: center;
}

h1{
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 900;
    padding: 0 10px;
}
h2{
    font-family: 'Alumni Sans Pinstripe', sans-serif;
}

.cv{
    display: inline-flex;
}
.titulo2 {
    color: red;
    padding: 20px 0;
    background-color: aqua;
}
#id-parrafo{
    color:blueviolet;
}