@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&family=Alumni+Sans:wght@500;900&display=swap');

*{
    display: inline-block;
    font-family: 'Alumni Sans', sans-serif;
    
}
body{
    background: rgb(131, 130, 130);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.container{
    padding: 50px 10px;
    
}
.intro_container{
    
    height: 600px;
    width: 800px;
    background-image: url(./img/croquis_0001.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    filter: contrast(80%);
    filter:brightness(1)
}
.intro_titulos{
    position:inherit;
    display: flex;
    align-items: baseline;
    justify-content: center;
    background-color: #fff;
}

h1{
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 900;
    padding: 0 10px;
}
h2{
    font-family: 'Alumni Sans Pinstripe', sans-serif;
}

.cv{
    display: grid;
}

.cv_image {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    object-fit: contain;
    filter: grayscale(100%);
}
.titulo2 {
    color: red;
    padding: 20px 0;
    background-color: aqua;
}
#id-parrafo{
    color:blueviolet;
}